.contactcard{
    max-width: 90%;
    min-height: 350px;
    border: 1px black;
    border-radius: 5px;
}
.contactform{
margin-left: 200px;
border: 2px  burlywood;
}
/* #exampleFormControlInput1{
    border:1px rgba(163, 68, 68, 0.861);
} */
.contactusbutton{
    background-color: bisque;
    width: 200px;
    border: none;
    border-radius: 5px;

}